---
import Layout from "../layouts/Layout.astro";
import { ContactsContainer } from "../presentation/containers/ContactsContainer";
---

<Layout title="Contacts - Maros Construction">
  <main class="container mx-auto px-4 py-8">
    <ContactsContainer client:load />
  </main>
</Layout>
