---
import Layout from "../../layouts/Layout.astro";
import { LeadsContainer } from "../../presentation/containers/LeadsContainer";
import { LeadType } from "../../domain/enums/LeadType";
---

<Layout title="Construction Leads - Maros Construction">
  <main class="container mx-auto px-4 py-8">
    <LeadsContainer client:load leadType={LeadType.CONSTRUCTION} />
  </main>
</Layout>
