---
import { Icon } from "astro-icon/components";
import "../../styles/global.css";

// Declaramos icon como opcional
interface Props {
  title: string;
  to: string;
  icon?: string;
}

const { title, to, icon } = Astro.props as Props;

const gapClass = icon ? "gap-2" : "";
---

<a
  href={to}
  class={`w-full h-[30px] text-center hover:bg-gray-800 transition-colors duration-200 flex items-center justify-start ${gapClass} text-gray-300 hover:text-white py-5 pl-4 pr-2`}
  data-astro-prefetch={typeof window !== 'undefined' && window.navigator && window.navigator.connection && (window.navigator.connection.saveData || window.navigator.connection.effectiveType === '2g' || window.navigator.connection.effectiveType === 'slow-2g') ? undefined : 'hover'}
>
  {icon && <Icon name={icon} class="p-0 m-0" />}
  {title}
</a>
