---
import Sidebar from "../components/sidebar/Sidebar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <title>Astro Basics</title>
  </head>
  <body
    class="relative flex flex-row h-screen bg-dark text-[#EFEEEA] bg-[#000000]"
  >
    <Sidebar />
    <main class="w-full ml-80 p-4"><slot /></main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
