---
import Sidebar from "@components/sidebar/Sidebar.tsx";
import "../styles/global.css";
import { ViewTransitions } from 'astro:transitions';

export interface Props {
  title?: string;
}

const { 
  title = "Maros Construction",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class="relative flex flex-row h-screen bg-theme-dark text-theme-light">
    <Sidebar client:only="react" transition:persist />
    <main class="w-full ml-80 p-4"><slot /></main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
